html {
  background: #fff;
  color: #000;
  font: 12px Helvetica, Arial, sans-serif;
  overflow-y: scroll;
}

html.entry { overflow-y: auto; }

a { text-decoration: none; }

a:link { color: #0033cc; }
a:visited { color: #663399; }
a:hover { text-decoration: underline; }

body {
  margin: 0;
  padding: 12px 24px;
}

#doc { min-width: 600px; }
#doc.entry { max-width: none; }
#doc.loading { display: none; }

/* -- Header ---------------------------------------------------------------- */
#hd {
  border-bottom: 2px solid #afd7ff;
  padding-bottom: 14px;
}

.entry #hd { border: 0; }

/* Search form */
.entry .sf {
  margin: 15% auto 0;
  width: 500px;
}

.q,
.sb {
  font-size: 16px;
  padding: 5px 10px;
  -moz-border-radius: 2px;
}

.webkit .q,
.webkit .sb {
  padding: 4px 0;
  -webkit-border-radius: 2px;
}

/* Search query */
.q {
  border: 1px solid #d4e8ff;
  width: 480px;
}

.webkit .q {
  width: 500px;
  -webkit-appearance: textfield;
}

.entry .q { width: 380px; }
.entry.webkit .q { width: 400px; }

/* Search button */
.sb {
  background: -moz-linear-gradient(top, #80c0ed, #456e99);
  background: -webkit-gradient(linear, left top, left bottom, from(#80c0ed), to(#456e99));
  border: 1px solid #4573a6;
  color: #fff;
  cursor: pointer;
  margin-left: 3px;
  padding-bottom: 4px;
  padding-top: 4px;
  width: 90px;
}

.sb:focus,
.sb:hover {
  background: -moz-linear-gradient(top, #a8dcff, #547fab);
  background: -webkit-gradient(linear, left top, left bottom, from(#a8dcff), to(#547fab));
}

/* -- Body ------------------------------------------------------------------ */
#bd {
  background: #fff;
  border-top: 0;
}

.entry #bd { display: none; }

.info {
  background: #dfefff;
  padding: 4px 6px;
  text-align: right;
}

.info p { margin: 0; }
.info p.loading { color: #afafaf; }

/* -- Results --------------------------------------------------------------- */
#results { padding: 0 0 16px 12px; }

.web {
  font-size: 13px;
  line-height: 1.3em;
}

.web cite {
  color: #568e1a;
  font-style: normal;
  word-wrap: break-word;
}

.web li { margin-top: 1.3em; }

.web ol {
  list-style: none;
  padding: 0;
}

.web .abstract { max-width: 42em; }

.web .title {
  font-size: 16px;
  font-weight: normal;
  margin: 0;
}

.web .title a { text-decoration: underline; }

/* -- Pagination ------------------------------------------------------------ */
.pg {
  margin: 2em 0 1em;
}

.pg:after {
  clear: left;
  content: ".";
  display: block;
  height: 0;
  visibility: hidden;
}

.pg a,
.pg strong {
  border: 1px solid #c7dbff;
  display: block;
  padding: 0.3em 0.6em;
  text-align: center;
}

.pg a {
  color: #0033cc;
  text-decoration: none;
}

.pg a:hover { border-color: #2663CF; }

.pg li {
  float: left;
  margin-right: 0.3em;
}

.pg strong {
  background: #2663CF;
  border-color: #2663CF;
  color: #fff;
  font-weight: bold;
}

.pg ul {
  list-style: none;
  padding: 0;
}

.pg .next,
.pg .prev { font-weight: bold; }

/* -- Footer ---------------------------------------------------------------- */
#ft {
  border-top: 2px solid #afd7ff;
  padding: 4px 6px;
}

.entry #ft { display: none; }

#ft p,
#ft p a { color: #cfcfcf; }

#ft p {
  font-size: 11px;
  margin: 0;
  text-align: right;
}

/* -- Utilities ------------------------------------------------------------- */

/* "Off Left" text for screen readers */
.ol {
  left: -9999px;
  position: absolute;
}
